.home-hover{
    background-color:#e9ecef;
    /* background-color: black; */
}
.active-active{
    color:#2791fc;
    border-bottom: solid 2px #2791fc;
}
.active{
    color:black;
}
.rightSide-active{
    color:#2791fc;
}
.cursor-pointer{
    cursor: pointer;
}
.style{
    max-height:700px;
}
.hidenStyle{
    max-height: 450px;
}